@media (max-width: 1679px) {
  .clients::after {
    display: none;
  }
}

@media (max-width: 1439px) {
  .promo {
    overflow-x: hidden;
  }
  .promo__aside {
    z-index: 2;
    right: -70px;
  }
  .promo__label::after {
    transform: rotate(180deg);
  }
  .promo__label {
    padding-left: 45px;
    padding-right: 75px;
  }
  .swiper-button-prev {
    left: 10px;
  }
  .swiper-button-next {
    right: 10px;
  }
  .footer {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 1230px) {
  .wrapper,
  .header__list {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .header__wrap,
  .top-menu__list {
    padding-right: 15px;
  }
  .header__contacts {
    margin-left: 0;
    margin-right: 0;
  }
  .search {
    margin-left: 0;
    width: 200px;
  }
  .menu__btn {
    display: block;
    width: 30px;
    height: 30px;
    margin-left: 35px;
    background-image: url(../img/icon-menu-ham.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
  .menu__list {
    display: none;
    position: absolute;
    z-index: 10;
    top: 100%;
    left: 0;
    padding-left: 0;
    padding-right: 0;
    background-color: @green;
    
  }
  .menu {
    position: relative;
    padding-top: 5px;
    padding-bottom: 5px;
    
    &--opened {
      .menu__btn {
        background-image: url(../img/icon-menu-cross.svg);
        background-size: 20px 20px;
      }
    }
  }
  .menu__item {
    border-top: 1px solid #fff;
    
    &::after {
      display: none;
    }
  }
  .clients__item {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    
    &:nth-child(3n) {
      margin-right: auto;
    }
  }
  .news__wrap,
  .actions__wrap,
  .clients {
    background-size: 100% 28px;
  }
  .category__item:nth-child(4n)::before {
    display: none;
  }
  .category::after {
    width: 100%;
  }
  .benefits__item {
    width: 33%;
  }
  .benefits__more {
    top: 15px;
    bottom: auto;
  }
  .swiper-button-prev {
    left: 15px;
  }
  .swiper-button-next {
    right: 15px;
  }
  .swiper-button-prev,
  .swiper-button-next {
    top: 15%;
  }
  .news {
    .swiper-button-prev,
    .swiper-button-next {
      top: 18%;
    }
  }
  .footer {
    padding-bottom: 35px;
  }
  .tabs__item {
    margin-left: auto;
    margin-right: auto;
    
    &:nth-child(5n) {
      margin-right: auto;
    }
  }
  .promo {
    padding-left: 0;
    padding-right: 0;
  }
  .card {
    flex-wrap: wrap;
  }
  .card__delivery {
    width: 100%;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
  }
}

@media (max-width: 1022px) {
  .top-menu__list li {
    margin-left: 13px;
  }
  .header__wrap,
  .header__list {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .header__contacts,
  .header__item {
    width: 40%;
  }
  .search {
    width: 50%;
  }
  .header__list {
    margin-top: 20px;
  }
  .promo__slogan p {
    font-size: 30px;
    letter-spacing: 0.2em;
    padding-top: 10px;
  }
  .promo__slogan {
    background-size: 100% 105px;
  }
  .clients__item {
    width: 32%;
    
    p {
      width: 100%;
      height: 45px;
      font-size: 16px;
    }
  }
  .category__item {
    width: 33.33%;
    
    &:nth-child(2n) {
      background-color: #e4e4e4;
    }
    &:nth-child(2n-1) {
      background-color: #f6f6f6;
    }
    &:nth-child(4n)::before {
      display: block;
    }
    &:nth-child(3n)::before {
      display: none;
    }
  }
  .benefits__item p {
    font-size: 14px;
    padding-left: 15px;
    padding-right: 15px;
    
    .benefits__tag {
      top: -10px;
      right: -10px;
    }
  }
  .tabs__name {
    font-size: 16px;
  }
  .actions__slide,
  .news__item {
    width: 158px;
  }
  .footer__bottom {
    display: block;
  }
  .footer__block {
    width: 100%;
    padding: 20px;
    justify-content: space-between;
  }
  .footer__block--left::after,
  .footer__block--left::before {
    display: none;
  }
  .footer__block--right::before {
    content: "";
    position: absolute;
    z-index: -1;
    left: -23px;
    bottom: -27px;
    width: 437px;
    height: 230px;
    background-image: url(../img/shadow-left.png);
    background-repeat: no-repeat;
    opacity: 0.5;
  }
  .footer__column--consulting,
  .footer__column--company {
    width: 250px;
  }
  .footer__column--help {
    width: 150px;
  }
  .card__info {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
  }
  .card__product {
    width: 100%;
  }
  .card__gallery {
    width: 370px;
    margin-left: auto;
    margin-right: auto;
  }
  .card__table td:first-child {
    width: 50%;
  }
}

@media (max-width: 766px) {
  .top-menu__btn {
    display: block;
    width: 20px;
    height: 20px;
    background-image: url(../img/icon-menu-ham-green.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
  .top-menu--opened {
    .top-menu__btn {
      background-image: url(../img/icon-menu-cross-green.svg);
      background-size: 15px 15px;
    }
  }
  .top-menu__list {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    padding-left: 5px;
    padding-bottom: 10px;
    background-color: #f7f7f7;
  }
  .top-menu__wrap {
    justify-content: space-between;
  }
  .header__item {
    width: 50%;
  }
  .header__list {
    padding: 0;
  }
  .promo__slogan p {
    font-size: 24px;
  }
  .promo__label {
    height: 70px;
    padding-left: 60px;
  }
  .promo__label::after {
    height: 70px;
    background-size: 223px 70px;
  }
  .clients__item p {
    height: 35px;
    font-size: 14px;
    letter-spacing: 0.02em;
  }
  .category__item {
    width: 50%;
    padding: 15px;
    background-color: #f6f6f6;
    
    &:nth-child(2n)::before {
      display: none;
    }
    &:nth-child(4n) {
      background-color: #f6f6f6;
    }
    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(6),
    &:nth-child(7),
    &:nth-child(10),
    &:nth-child(11) {
      background-color: #e4e4e4;
    }
  }
  .news__wrap,
  .actions__wrap,
  .clients {
    background-image: none;
  }
  .news__wrap::after,
  .category::after {
    display: none;
  }
  .category,
  .clients {
    padding-bottom: 40px;
  }
  .benefits__item {
    width: 49%;
  }
  .tabs__title {
    flex-direction: column;
  }
  .tabs__name {
    margin-right: 0;
    margin-bottom: 30px;
  }
  .actions__slide,
  .news__item {
    width: 170px;
  }
  .news__slider,
  .actions__slider {
    width: 370px;
    margin-left: auto;
    margin-right: auto;
  }
  .news__wrap {
    padding-bottom: 20px;
  }
  .title {
    padding-left: 50px;
    padding-right: 50px;
  }
  .footer__column--company,
  .footer__column--consulting,
  .footer__column--support,
  .footer__column--help {
    margin-left: 0;
    width: 40%;
  }
  .footer__block {
    flex-wrap: wrap;
  }
  .footer__logo {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }
  .menu__btn {
    margin-left: 15px;
  }
  .news .swiper-button-next,
  .news .swiper-button-prev,
  .swiper-button-next,
  .swiper-button-prev {
    top: 60%;
  }
}

@media (max-width: 480px) {
  .header__item {
    width: 100%;
  }
  .search {
    width: 90%;
    margin-top: 10px;
  }
  .header__contacts {
    width: auto;
    margin-left: 30px;
  }
  .header__wrap {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .header__item {
    justify-content: center;
  }
  .promo__aside {
    top: 15px;
    right: -50px;
  }
  .promo__label {
    height: 50px;
    padding-left: 80px;
  }
  .promo__label::after {
    height: 50px;
    background-size: 223px 50px;
  }
  .clients__item {
    width: 100%;
    margin-bottom: 30px;
  }
  .category__item {
    width: 100%;
    
    &:nth-child(2n-1) {
      background-color: #f6f6f6;
    }
    
    &:nth-child(2n) {
      background-color: #e4e4e4;
    }
    
    &::before {
      display: none;
    }
  }
  .benefits__item {
    width: 100%;
  }
  .title {
    padding-left: 30px;
    padding-right: 30px;
    letter-spacing: 0.1em;
    font-size: 20px;
  }
  .actions__slider {
    width: 170px;
  }
  .news__item,
  .news__slider {
    width: 230px;
  }
  .feedback {
    width: 100%;
  }
  .footer__column--company,
  .footer__column--consulting,
  .footer__column--help,
  .footer__column--support {
    width: 100%;
    margin-bottom: 20px;
  }
  .footer__block--right::before {
    display: none;
  }
  .card {
    margin-bottom: 50px;
  }
  .card__gallery {
    width: 290px;
  }
  .card__slider {
    width: 206px;
  }
  .order {
    display: block;
  }
  .order__buy {
    margin-top: 20px;
  }
  .title-2 {
    text-align: center;
    font-size: 24px;
  }
}
