.top-menu {
  background-color: #f7f7f7;
}

.top-menu__btn {
  display: none;
}

.top-menu__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  padding-right: 170px;
  
  li {
    margin-left: 25px;
  }
}

.top-menu__link {
  color: #636363;
  text-decoration: underline;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 30px;
  
  i {
    margin-right: 5px;
  }
  
  &:hover,
  &:active {
    text-decoration: none;
  }
}

.top-menu__region {
  position: relative;
  z-index: 5;
  padding-left: 15px;
  padding-right: 13px;
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 30px;
  
  i {
    margin-right: 5px;
  }
  
  &::after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 110%;
    height: 48px;
    background-image: url(../img/top-menu-bg.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
}

.top-menu__city {
  display: none;
  position: absolute;
  z-index: -1;
  top: 100%;
  left: 0;
  width: 100%;
  padding-top: 10px;
  background-color: @green;
  border-radius: 2px;
  
  a:hover,
  a:active {
    text-decoration: underline;
  }
}

.top-menu__choice {
  color: #fff;
  text-transform: uppercase;
  text-decoration: underline;
  font-size: 12px;
  line-height: 30px;
  margin-left: 5px;
  
  i {
    margin-left: 5px;
  }
  
  &:hover,
  &:active {
    text-decoration: none;
  }
}
